.profilecon{
    background-color: lightgray;
    width: 80%;
    height: fit-content;
    padding: 30px;
    border-radius: 20px;
    display: block;
    align-content: center;
    margin: 7% auto;
  
  }
  
  .megumi {
      display: block;
      margin: auto;
      padding-top:42px;
      padding-left: 40px;
      width: 19vw;
      height: 19.5vw;
      float: left;
  }
  
  .profile {
      background-color: #eff1f4;
      width: 95%;
      height: 25vw; 
      /* border-radius: 3vw; */
      text-align: center;
      margin: 3% auto;
    }
  
  /* #profile-img {
    display: flex;
    float: left;
    width: 36%;
    height: 100%;
  } */
  
  #profile-text{
    font-size: 30px;
    float: right;
    width: 64%;
    height: 100%;
    margin: 5% 3% -3% 0%;
    text-align: left;
  }  
  
  h1#profiletitle {
    font-family: Roboto;
    text-align: center;
    margin:auto;
    width: 50%;
    color: black;
  }
  
  p { 
    font-family: Roboto;
    padding-bottom: 1%;
  }
  
  button.history, button.logout {
      font-family: Roboto;
      background-color: #7f8089;
      color: white;
      padding: 1vw 1vw;
      border: none;
      border-radius: 1vw;
      cursor: pointer;
      width: 13vw;
      font-size: 1.2vw;
      transition: 0.7s;
    }
  
  button.history{
      text-decoration: none;
      margin-right: 2vw;
    }
  
  button.history, button.logout a{
    font-family: Roboto;
    color: white;
    text-decoration: none;
  }
    
  button:hover {
      background-color: #c5c7d4;
    }
  
  .line{
    border-bottom: 2px solid #000000;
  }
  
  #btn{
    width: 75%;
    height: fit-content;
    margin-left: 26vw;
    display: flex;
    padding-bottom: 1vw;
  }
  
  section#details {
    margin: auto;
  }
  
  